<ion-header>

  <ion-navbar color='amber'>
    <ion-title>Categorias</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list padding>
    <!--<ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>-->
    <ion-grid>
      <ion-row>
        <button ion-button icon-end large clear (click)="startApp()">
          Sitios Turisticos
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-row>
      <ion-row>

        <ion-col col-4 col-auto>
          <ion-card>
            <img src="../../assets/imgs/imagenes nicaraggua/13.jpg">

            <ion-card-content>
              <p>Monumento a Dario</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" (click)="openItem()" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-auto>
          <ion-card>
            <img src="../../assets/imgs/imagenes nicaraggua/13.jpg">

            <ion-card-content>
              <p>Monumento a Dario</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-auto>
          <ion-card>

            <img src="../../assets/imgs/imagenes nicaraggua/13.jpg">

            <ion-card-content>
              <p>Monumento a Dario</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start>
                    Ver
                  </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <button ion-button icon-end large clear (click)="startApp()">
          Bares y Restaurantes
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-row>
      <ion-row>

        <ion-col col-4 col-auto>
          <ion-card>
            <img src="../../assets/imgs/imgnegocio/baryrestaurante/mirador/portada.jpg">

            <ion-card-content>
              <p>El Mirador</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-auto>
          <ion-card>
            <img src="../../assets/imgs/imgnegocio/baryrestaurante/mirador/portada.jpg">

            <ion-card-content>
              <p>El Mirador</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-auto>
          <ion-card>

            <img src="../../assets/imgs/imgnegocio/baryrestaurante/mirador/portada.jpg">

            <ion-card-content>
              <p>El Mirador</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <button ion-button icon-end large clear (click)="startApp()">
          Hoteles
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-row>
      <ion-row>

        <ion-col col-4 col-auto>
          <ion-card>
            <img src="../../assets/imgs/imgnegocio/hoteles/convento/portada.jpg">

            <ion-card-content>
              <p>El Convento</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-auto>
          <ion-card>
            <img src="../../assets/imgs/imgnegocio/hoteles/convento/portada.jpg">

            <ion-card-content>
              <p>El Convento</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-auto>
          <ion-card>

            <img src="../../assets/imgs/imgnegocio/hoteles/convento/portada.jpg">

            <ion-card-content>
              <p>El Convento</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name="hand"></ion-icon>
                  12 Visitas
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  4 Comentarios
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  <button ion-button color="primary" clear small icon-start> Ver </button>
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>